@charset "utf-8";

@media screen and (max-width: 400px){/*phone*/
.container {
margin-bottom: 0px;
}
.col-sm-6, .col-xs-6 {
	padding: 0;
}
.cardL {
	padding-right: 0px;
}
.cardR {
	padding-left: 0px;
}
.mb-img-1 {
	width: auto;
	height: calc(100vh - 50px);
	background-image: url('../img/1.jpeg');
	background-repeat: no-repeat;
	background-position: center;
}
}
@media screen and (min-width: 401px){/*pc*/
.container {
margin-bottom: 30px;
}
.pc-img-1 {
	width: auto;
	height: 500px;
	background-image: url('../img/photo-1.jpeg');
}	
}